<%- include("header") -%>

    <div class="box" id="heading">
      <h1><%=title%></h1>
    </div>

  <div class="box">
    <%newListItem.forEach(function(item){%>
      <form action="/delete", method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value= "<%=item._id%>"onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%=title%>"></input>
    </form>
  <%})%>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%=title%>">+</button>

    </form>
    <form class="item" action="/makeList" method="post">
      <input type="text" name="newList" placeholder="New List" autocomplete="off">
      <button type="submit">Create</button>

    </form>
  </div>

<%- include("footer") -%>
